@import "tailwindcss";
@theme {
  --color-orange-main: #df4732;
  --color-orange-ligh: #ff914d;
  
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@keyframes fade {
  from {
    opacity: 1;
    transform: scale(0.98);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade {
  animation: fade 0.4s ease-in-out;
}


