@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');
@import "tailwindcss";

@theme {
  --color-orange-main: #df4732;
  --color-orange-ligh: #ff914d;
  --font-poppins: "Poppins", sans-serif;
  --font-justo: "Cantarell", sans-serif;
  --font-righteous: "Righteous", cursive;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@keyframes fade {
  from {
    opacity: 1;
    transform: scale(0.98);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade {
  animation: fade 0.4s ease-in-out;
}

